In [108]:
import configparser

import pandas as pd
import psycopg2

config = configparser.ConfigParser()
config.read("dwh.cfg")
print(*config["REDSHIFT"].values())

'dwhcluster.cu0kxfsouwy2.us-west-2.redshift.amazonaws.com' dwh dwhuser Passw0rd 5439

In [109]:
connection = psycopg2.connect(
    "host={} dbname={} user={} password={} port={}".format(
        *config["REDSHIFT"].values()
    )
)
cursor = connection.cursor()
query = """
WITH 
    user_log_data AS (
        SELECT
            userId AS user_id,
            firstName AS first_name,
            lastName AS last_name,
            gender,
            level,
            TIMESTAMP 'epoch' + ts/1000 * INTERVAL '1 second' AS time
        FROM
            log_data
        WHERE
            auth = 'Logged In' AND
            length > 0
    ), 
    max_user_times AS (
        SELECT
            user_id,
            MAX(time) AS max_time
        FROM
            user_log_data
        GROUP BY
            user_id
    )
SELECT
    user_log_data.user_id,
    user_log_data.first_name,
    user_log_data.last_name,
    user_log_data.gender,
    user_log_data.level
FROM
    user_log_data
JOIN
    max_user_times
ON
    user_log_data.user_id = max_user_times.user_id AND
    user_log_data.time = max_user_times.max_time;
"""

cursor.execute(query)

rows = cursor.fetchall()
for row in rows:
    print(row)

(20, 'Aiden', 'Ramirez', 'M', 'paid')
(84, 'Shakira', 'Hunt', 'F', 'free')
(3, 'Isaac', 'Valdez', 'M', 'free')
(59, 'Lily', 'Cooper', 'F', 'free')
(7, 'Adelyn', 'Jordan', 'F', 'free')
(2, 'Jizelle', 'Benjamin', 'F', 'free')
(45, 'Dominick', 'Norris', 'M', 'free')
(70, 'Jaleah', 'Hayes', 'F', 'paid')
(71, 'Ayleen', 'Wise', 'F', 'free')
(27, 'Carlos', 'Carter', 'M', 'free')
(51, 'Maia', 'Burke', 'F', 'free')
(25, 'Jayden', 'Graves', 'M', 'paid')
(42, 'Harper', 'Barrett', 'M', 'paid')
(41, 'Brayden', 'Clark', 'M', 'free')
(35, 'Molly', 'Taylor', 'F', 'free')
(81, 'Sienna', 'Colon', 'F', 'free')
(18, 'Jacob', 'Rogers', 'M', 'free')
(64, 'Hannah', 'Calhoun', 'F', 'free')
(99, 'Ann', 'Banks', 'F', 'free')
(65, 'Amiya', 'Davidson', 'F', 'paid')
(34, 'Evelin', 'Ayala', 'F', 'free')
(62, 'Connar', 'Moreno', 'M', 'free')
(38, 'Gianna', 'Jones', 'F', 'free')
(8, 'Kaylee', 'Summers', 'F', 'free')
(66, 'Kevin', 'Arellano', 'M', 'free')
(48, 'Marina', 'Sutton', 'F', 'free')
(56, 'Cienna', 'Freeman', 'F', 'free')
(94, 'Noah', 'Chavez', 'M', 'free')
(90, 'Andrea', 'Butler', 'F', 'free')
(28, 'Brantley', 'West', 'M', 'free')
(77, 'Magdalene', 'Herman', 'F', 'free')
(47, 'Kimber', 'Norris', 'F', 'free')
(40, 'Tucker', 'Garrison', 'M', 'free')
(76, 'Jayden', 'Duffy', 'F', 'free')
(100, 'Adler', 'Barrera', 'M', 'free')
(19, 'Zachary', 'Thomas', 'M', 'free')
(69, 'Anabelle', 'Simpson', 'F', 'free')
(60, 'Devin', 'Larson', 'M', 'free')
(97, 'Kate', 'Harrell', 'F', 'paid')
(6, 'Cecilia', 'Owens', 'F', 'free')
(63, 'Ayla', 'Johnson', 'F', 'free')
(17, 'Makinley', 'Jones', 'F', 'free')
(96, 'Cierra', 'Finley', 'F', 'free')
(37, 'Jordan', 'Hicks', 'F', 'free')
(58, 'Emily', 'Benson', 'F', 'paid')
(29, 'Jacqueline', 'Lynch', 'F', 'paid')
(53, 'Celeste', 'Williams', 'F', 'free')
(15, 'Lily', 'Koch', 'F', 'paid')
(72, 'Hayden', 'Brock', 'F', 'paid')
(54, 'Kaleb', 'Cook', 'M', 'free')
(14, 'Theodore', 'Harris', 'M', 'free')
(98, 'Jordyn', 'Powell', 'F', 'free')
(10, 'Sylvie', 'Cruz', 'F', 'free')
(52, 'Theodore', 'Smith', 'M', 'free')
(32, 'Lily', 'Burns', 'F', 'free')
(79, 'James', 'Martin', 'M', 'free')
(4, 'Alivia', 'Terrell', 'F', 'free')
(39, 'Walter', 'Frye', 'M', 'free')
(75, 'Joseph', 'Gutierrez', 'M', 'free')
(44, 'Aleena', 'Kirby', 'F', 'paid')
(13, 'Ava', 'Robinson', 'F', 'free')
(82, 'Avery', 'Martinez', 'F', 'paid')
(55, 'Martin', 'Johnson', 'M', 'free')
(9, 'Wyatt', 'Scott', 'M', 'free')
(22, 'Sean', 'Wilson', 'F', 'free')
(80, 'Tegan', 'Levine', 'F', 'paid')
(89, 'Kynnedi', 'Sanchez', 'F', 'free')
(87, 'Dustin', 'Lee', 'M', 'free')
(68, 'Jordan', 'Rodriguez', 'F', 'free')
(23, 'Morris', 'Gilmore', 'M', 'free')
(67, 'Colm', 'Santana', 'M', 'free')
(95, 'Sara', 'Johnson', 'F', 'paid')
(83, 'Stefany', 'White', 'F', 'free')
(11, 'Christian', 'Porter', 'F', 'free')
(73, 'Jacob', 'Klein', 'M', 'paid')
(86, 'Aiden', 'Hess', 'M', 'free')
(24, 'Layla', 'Griffin', 'F', 'paid')
(57, 'Katherine', 'Gay', 'F', 'free')
(30, 'Avery', 'Watkins', 'F', 'paid')
(74, 'Braden', 'Parker', 'M', 'free')
(92, 'Ryann', 'Smith', 'F', 'free')
(12, 'Austin', 'Rosales', 'M', 'free')
(61, 'Samuel', 'Gonzalez', 'M', 'free')
(43, 'Jahiem', 'Miles', 'M', 'free')
(50, 'Ava', 'Robinson', 'F', 'free')
(26, 'Ryan', 'Smith', 'M', 'free')
(101, 'Jayden', 'Fox', 'M', 'free')
(88, 'Mohammad', 'Rodriguez', 'M', 'paid')
(36, 'Matthew', 'Jones', 'M', 'paid')
(85, 'Kinsley', 'Young', 'F', 'paid')
(78, 'Chloe', 'Roth', 'F', 'free')
(33, 'Bronson', 'Harris', 'M', 'free')
(91, 'Jayden', 'Bell', 'M', 'free')
(49, 'Chloe', 'Cuevas', 'F', 'paid')
(16, 'Rylan', 'George', 'M', 'paid')
(5, 'Elijah', 'Davis', 'M', 'free')

In [110]:
insert_query = """
INSERT INTO users (user_id, first_name, last_name, gender, level)
VALUES (%s, %s, %s, %s, %s)
"""

for row in rows:
    cursor.execute(insert_query, row)

In [111]:
connection = psycopg2.connect(
    "host={} dbname={} user={} password={} port={}".format(
        *config["REDSHIFT"].values()
    )
)
cursor = connection.cursor()
query = """
WITH 
    user_log_data AS (
        SELECT
            userId AS user_id,
            firstName AS first_name,
            lastName AS last_name,
            gender,
            level,
            TIMESTAMP 'epoch' + ts/1000 * INTERVAL '1 second' AS time
        FROM
            log_data
        WHERE
            auth = 'Logged In' AND
            length > 0
    ), 
    max_user_times AS (
        SELECT
            user_id,
            MAX(time) AS max_time
        FROM
            user_log_data
        GROUP BY
            user_id
    )
-- Add a space here
INSERT INTO users
SELECT
    user_log_data.user_id,
    user_log_data.first_name,
    user_log_data.last_name,
    user_log_data.gender,
    user_log_data.level
FROM
    user_log_data
JOIN
    max_user_times
ON
    user_log_data.user_id = max_user_times.user_id AND
    user_log_data.time = max_user_times.max_time;
"""

cursor.execute(query)

rows = cursor.fetchall()
for row in rows:
    print(row)

SyntaxError: syntax error at or near "INSERT"
LINE 27: INSERT INTO users
         ^